loguru~=0.7.3
SQLAlchemy~=2.0.38
fabric~=3.2.2
requests~=2.32.3
urllib3~=2.2.3
rsa~=4.9
pycryptodome~=3.21.0
fastapi~=0.115.11
cachetools~=4.2.4
DrissionPage==4.1.0.7
curl_cffi~=0.10.0
orjson~=3.10.16
aiohttp~=3.11.13
yarl~=1.18.3
eth-account~=0.13.5
eth-typing~=5.2.0
pydantic~=2.9.2
web3~=7.1.0
hexbytes~=1.3.0
ecdsa~=0.19.0
eth-utils~=5.1.0
aiofiles~=24.1.0
Faker~=30.6.0
base58~=2.1.1
solana~=0.30.0
solders~=0.15.1
opencv-python~=4.11.0.86
numpy~=2.2.3
pillow~=11.1.0
okx~=2.1.1
psutil~=6.1.1
fake-useragent~=1.5.1
TwoCaptcha~=0.0.1
Jam_Twitter_API~=1.1
PyJWT~=2.10.1
dynaconf~=3.2.10
eth_abi~=5.0.1
better_proxy~=1.3.1
ua_generator~=2.0.5